body {
    margin: 0;
    top: 0;  
    width: 100%;
    height: 100%; 
    position: absolute; 
    text-align: center; 
}

a {  
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: small;
    color: #222; 
  }


a:hover {
    text-decoration: underline;
  }

ul { 
    list-style: none;
}

.top_nav {  
    position: absolute; 
    vertical-align: middle;  
}

#top_nav_left {
   float: left; 
}

#top_nav_right {
    float: right; 
}

#signin_button {  
    line-height: 28px; 
    padding: 0 12px; 
    border-radius: 2px; 
    text-align: center; 
    font-weight: bold; 
    border: 1px solid #4285f4; 
    background: -moz-linear-gradient(top,#4387fd, #4683ea); 
    
}


#signin_button:hover {

    box-shadow: 10px 10px 5px grey;
}

#signin_button a {
    padding-left: 0px; 
    color: white;
    cursor: default; 
} 

#signin_button a:hover {

    text-decoration: none; 
    
}


#main_section {
    display: flex; 
}


#logo {    
    padding-top: 109px; 
    margin: 0 auto; 
    position: absolute; 
}

#search {    
    width: 482px;
    height: 44px;
    margin: 0 auto; 
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    margin: 20px 0 25px 0;
    padding: 5px 8px 0 16px;
    font-family: Arial, sans-serif;
    font-size: 15px; 
    color: #222; 
}

#search:hover {
    box-shadow: 1px 1px 4px 1px #d3d5d8;   
}

#search:focus {
    outline: none;
    box-shadow: 1px 1px 4px 1px #d3d5d8;    

}

#search_buttons {
    margin: 0 auto; 
}

.bottom_nav {
    background-color: lightgray; 
}


#viewport {
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 100%;
}

a {

    display: flex;  
    text-decoration: none; 
    color: #8d8d8d;
    font-size: small; 
    display: inline-block; 
    padding-left: 15px;  
    font-family: arial, sans-serif;
    flex-direction: row;  
}

.allapps {
    background: url("images/allapps.png") no-repeat;
}

.allapps:hover {
    background: url("images/allapps_hover.png") no-repeat;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

a:hover {
    text-decoration: underline; 
}

.grid {
    display: grid; 
}

ol {
    list-style-type: none; 
    margin: 0; 
    padding: 1em; 
}

.navright .signin {
    background-color: blue; 

}
.navleft {
    float: left; 
}

.navright {
    float: right; 
}

footer {
    background-color: lightgray; 
}


.logo img {
     display: block; 
     margin-left: auto; 
     margin-right: auto; 
}

.searchbar {
    margin-left: auto; 
    margin-right: auto; 
    width: 8em; 
    
}

.signin {
    background-color: blue;
    color: white;  
    float: right; 
}

.images {
    float: right; 
}

a:hover {
    text-decoration: underline; 
}